@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* === SWIPER GLOBAL OVERRIDES === */

/* Navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #111 !important;   
}

/* Pagination bullets */
.swiper-pagination-bullet {
  background-color: #aaa !important; 
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #111 !important; 
}